.places__pharagraf {
  max-width: 480px;

}

@media screen and (max-width: 1024px) {
  .places__pharagraf {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .places__pharagraf {
    max-width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .places__pharagraf {
    max-width: 288px;
    margin: 0 auto;
  }
}