.photo-grid__photo-grides {
  list-style: none;
  display: grid;
  margin: 0;
  padding: 0;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
}


@media screen and (max-width: 1024px) {
  .photo-grid__photo-grides {
    gap: 14px;
    max-width: 928px;
  }
  
}

@media screen and (max-width: 768px) {
  .photo-grid__photo-grides {
    max-width: 720px;
    gap: 16px;
  }
  
}


@media screen and (max-width: 320px) {
  .photo-grid__photo-grides {
  gap: 12px;
  max-width: 288px;
  }
  
}
