.places__words {
  max-width: 484px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0;
}

.places__words:first-child {
  margin-bottom: 26px;
}

@media screen and (max-width: 768px) {
  .places__words {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .places__words {
    margin: 0;
    /* padding-right: 16px; */
  }
}