.places__site {
  display: block;
  max-width: 456px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 12px 0 -2px 0;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.places__site:first-child {
  margin: 11px 0 0 0;
}

.places__site:hover {
  opacity: 0.8;
  transition: 0.35s;
  }

  @media screen and (max-width: 768px) {
    .places__site {
    max-width: 352px;
    }
    
  }


  @media screen and (max-width: 320px) {
    .places__site {
    margin: 0;
    margin-top: 12px;
    }
    
  }